.element__like-button {    
    padding: 0;
    border: none;
    cursor: pointer;
    background-image: url(../../../images/Vector.svg);
    width: 21px;
    height: 18px;
    background-color: white;
    margin-top: 33px;
    margin-right: 18px;
}
